[submodule "non_elpa/rhtml"]
	path = non_elpa/rhtml
	url = https://github.com/crazycode/rhtml.git
[submodule "non_elpa/less-css-mode"]
	path = non_elpa/less-css-mode
	url = git://github.com/purcell/less-css-mode.git
[submodule "non_elpa/magit"]
	path = non_elpa/magit
	url = https://github.com/magit/magit.git
